*{
    margin: 0;
    padding: 0;
}


 .buts {
    display: flex;
    gap: 20px;
  
} 
button {
    height: 50px;
    width: 125px;
    
}

.container {
    border: 10px solid blue;
}
body {
    border: 1px solid red;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 100px;


    
}